<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\authors   Ewing Kang <ewing.kang@adlink.com>
\copyright Copyright (c) 2018, ADLINK Inc., All rights reserved.
-->

<launch>

  <!--- Run gmapping -->
  <include file="$(find neuronbot2_slam)/launch/gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find neuronbot2_explore)/launch/neuronbot2_movebase.launch" />

  <!-- Run Frontier Exploration -->
  <include file="$(find neuronbot2_explore)/launch/neuronbot2_explore.launch" />

</launch>